build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MyProject.dir/build.make
build/CMakeFiles/MyProject.dir/cmake_clean.cmake
build/CMakeFiles/MyProject.dir/compiler_depend.internal
build/CMakeFiles/MyProject.dir/compiler_depend.make
build/CMakeFiles/MyProject.dir/compiler_depend.ts
build/CMakeFiles/MyProject.dir/depend.make
build/CMakeFiles/MyProject.dir/DependInfo.cmake
build/CMakeFiles/MyProject.dir/flags.make
build/CMakeFiles/MyProject.dir/link.txt
build/CMakeFiles/MyProject.dir/main.cpp.o.d
build/CMakeFiles/MyProject.dir/progress.make
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/count.txt
NN
build/CMakeFiles/NN.dir/build.make
build/CMakeFiles/NN.dir/cmake_clean.cmake
build/CMakeFiles/NN.dir/compiler_depend.internal
build/CMakeFiles/NN.dir/compiler_depend.make
build/CMakeFiles/NN.dir/compiler_depend.ts
build/CMakeFiles/NN.dir/depend.make
build/CMakeFiles/NN.dir/DependInfo.cmake
build/CMakeFiles/NN.dir/flags.make
build/CMakeFiles/NN.dir/link.txt
build/CMakeFiles/NN.dir/main.cpp.o
build/CMakeFiles/NN.dir/main.cpp.o.d
build/CMakeFiles/NN.dir/NeuralNetwork.cpp.o.d
build/CMakeFiles/NN.dir/progress.make
build/CMakeFiles/Progress/2
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2ce7acf9cd91fe60e1df.json
build/.cmake/api/v1/reply/cmakeFiles-v1-1961f16406c5856b1352.json
build/.cmake/api/v1/reply/codemodel-v2-8ad306a8cfb5818c595a.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-04-22T10-50-27-0987.json
build/.cmake/api/v1/reply/target-NN-Debug-b18e8deecd00fd285570.json
build/.cmake/api/v1/reply/toolchains-v1-7b3f28aa77dde7e72327.json
build/.cmake/api/v1/reply/cache-v2-20c30b68d8dd3a5ef541.json
build/.cmake/api/v1/reply/cmakeFiles-v1-47b06c20ec06899b1a4a.json
build/.cmake/api/v1/reply/index-2024-04-23T09-13-08-0110.json
build/CMakeFiles/NN.dir/NeuralNetwork.cpp.o
